.memory-game {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 15px;
  justify-content: center;
  margin-top: 12px;
  align-items: center;


}



.memory-card {
  width: 150px;
  height: 150px;
  background-color: #bbf1c6;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}



